p{
	font-size:1.5em;
}
ul{
	font-size:1.5em;
}
#txtbdy{
	margin:0 auto;
	max-width:960px;
	
}
#signin{
	min-width:250px;
}
.allUsers{
	display:inline;
	float:left;
}
.control{
	display:inline-block;
}
ul{
	color:#32cd32;
}
.text{
 height:145px;
overflow: hidden;
}
.date{
	margin-top:10px;
	font-size:1.1em;
}
/* CSS declarations go here */
.my-svg-container{
	
 display: block;
 position: relative;
 width: 90%;
 padding-bottom: 55%; 
/* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
 margin:0 auto;
text-align:center;
margin-top:30px;
 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.my-svg{ /* svg into : object, img or inline */

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* only required for <img /> */
  height:100%;
}
.control{
	display:block;
	margin:0 auto;
	text-align:center;
	
}
.navbar{
	margin-bottom: 0px;
}
